.profile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 750px;
  margin: 20px auto 50px;
  text-align: center;
}

.profile.title {
  color: grey;
  font-size: 18px;
}

.line-container {
  box-shadow: 4px 5px 8px 2px rgba(0, 0, 0, 0.4);
  max-width: 90%;
  margin: auto;
  text-align: center;
}

.info {
  text-align: left;
}

.info-detail {
  width: 90%;
  margin: 30px auto 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 30px 40px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.small-btn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 3px;
  color: rgb(192, 184, 118);
  background-color: #000;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  margin-left: 5px;
}

button:hover,
a:hover {
  opacity: 0.7;
}

.small-btn {
  width: 10%;
  background-color: #fff;

}