.card {
  box-shadow: 4px 5px 8px 2px rgba(0, 0, 0, 0.4);
  max-width: 270px;
  margin: auto;
  text-align: center;
  transition: all .1s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.title {
  color: grey;
  font-size: 18px;
}

.mini {
  color: grey;
  font-size: 12px;
}

.card button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: #ccc;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 15px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
  background-color: #ff0;
  color: black;
}

p {
  line-height: 1.1rem;
}

h1 {
  font-size: 1.5em;
}